<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Gute Idee!</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
  crossorigin="anonymous">
<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
</head>
<body class="w-75 p-3 mx-auto">
  <div th:replace="fragments :: header"></div>
  <div class="container py-6">
    <div class="row justify-content-center">
      <div class="col-6">
        <h5>Gute Idee! (ˈɡuːtə iˈdeː) – good idea!</h5>
        <hr>
        <p class="text-muted lead">An app to capture your flashes of
          genius (they always come at the weirdest times). Organize
          them, get others inspired, and then get them done.</p>
        <p class="text-muted">
          My name is Olaf, I'm based in Berlin, Germany, but I've been
          traveling the world as a freelance DoP / cameraman. I've
          always been a bit of a tech aficionado as well, so over time I
          got curious about how it all works on a deeper level. I've
          designed a few private websites but never really programmed
          (except for a RasPi based photo booth maybe), however having
          control over what is going on seems very appealing to me and
          so I decided to dig deeper, which led to attending a 6-month
          full-stack Java Web App Bootcamp over at <a
            href="https://www.coderscampus.com/"
            class="text-decoration-none text-primary" target="blank">CodersCampus</a>.
          This little <i>Gute Idee!</i> app is the final project I coded
          from scratch for said bootcamp.
        </p>
        <p class="text-muted">Currently I'm studying computer
          science part-time while working on filming projects, writing
          for an online magazine and of course honing my Java skills.</p>
        <hr>
        <p class="text-muted">Technologies used include Java 11,
          MySQL database, Hibernate, Thymeleaf, Javascript, Bootstrap
          CSS and of course a fair bit of HTML.</p>
        <p class="text-muted">
          You can check out the code for this project, and others, over
          at <a href="https://github.com/os-i-am/gute-idee.git"
            class="text-decoration-none text-primary" target="blank">GitHub</a>.
        </p>
      </div>
      <div class="col-5">
        <img src="/img/Olaf.jpg" class="img-thumbnail rounded my-4"
          alt="Olaf" />
      </div>
    </div>
  </div>
  <div th:replace="fragments :: footer"></div>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"></script>
</body>
</html>